.large-12.columns#main_content
	.row
		.large-6.columns
			.panel.animated#videochat
				header
					h4
						<i class="fa fa-video-camera"></i>&nbsp;Video Chat
				.panel_body
					p Your Second Phone allows you to chat face-to-face with anyone. Simply create a session, send your friend the link and chat for as long as you need, it's <b>free!</b>
		.large-6.columns
			.panel.animated#noaccount
				header
					h4
						<i class="fa fa-magic"></i>&nbsp;No Account
				.panel_body
					p You don't need to have an account to use Your Second Phone. Once a session is created, the link to it will last for 24 hours, but the call can last much longer.
if compatible_browser
	.large-12.columns
		.row
			.large-12.large-centered.columns
				button.button.large.expand#bootstrap Let's Go!
else
	.large-12.columns
		.row
			.large-12.large-centered.columns
				.panel.error#incompatible_browser
					header
						h4 <i class="fa fa-exclamation-triangle"></i>&nbsp;Please upgrade your browser
					.panel_body
						p Your browser is not equipped with the necessary tools to handle Your Second Phone. Please upgrade to, or install the latest version of <a href="https://www.google.com/chrome">Chrome</a> or <a href="http://www.firefox.com/">Firefox</a>.