lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

ssl
*.key
*.crt

public/static/js/build/ysp.js
public/static/css/main.css
config/*
!config/sample.yml
!config/README.md
