extends layout

block main
	.row
		.large-12.columns
			.panel.error
				header: h3: <i class=""></i>&nbsp;Page Not Found
				.panel_body
					p Sorry my friend, the page you're looking for isn't here! <br> <a href="/">Go Home</a>