@import (less) 'bootstrap/bootstrap.less';
@import (less) 'font-awesome/font-awesome.less';

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.clickable {
	cursor: pointer;
}

body {
	a {
		text-decoration: none !important;
	}

	header#global-header {
		.text-center;
		background-color: @brand-primary;
		border-bottom: 5px solid darken(@brand-primary, 10%);
		padding: 1em;
		
		a {
			h1 {
				color: white;
				font-family: 'Aldrich';
			}
		}
	}

	#page-content {
		margin-top: 1em;
	}

	#ad {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	footer#global-footer {
		background-color: @gray-lighter;
		border-top: 5px solid darken(@gray-lighter, 10%);

		.text-center;

		#links {
			.center-block;
			margin-bottom: 0px;
			display: table;
			padding: 1em;
		}

		#copyright {
			.text-muted;
		}

		#twitter {
			padding: 1em;
		}

		margin-bottom: 90px;
	}

	&#main {

		#main-content {
			margin-top: 1em;

			#main-setup {
				margin-top: 1em;

				#no-js {
					margin-top: 2em;
				}
			}

			#all-messages {
				#all-messages-header {
					#caret {
						text-align: right;
					}
				}

				#messages-window {
					height: 250px;
					overflow-y: scroll;
					overflow-x: hidden;

					.well;
					.well-sm;
					padding: 1em;

					.peer-message-container {
						.peer-message {
							margin-top: .5em;
							.peer-message-body {
								background-color: white;
								display: table;
								padding: .5em;
								max-width: 50%;
								border-left: 3px solid @gray;

								&.green {
									border-color: @brand-primary;
								}

								&.blue {
									border-color: #428bca;
								}

								&.purple {
									border-color: #9b59b6;
								}

								&.orange {
									border-color: #e67e22;
								}

								&.red {
									border-color: @brand-danger;
								}
							}
							.peer-message-timestamp {
								padding: .5em 0em;
								.text-right;
								.text-muted;
							}
						}
					}
				}
			}
			
			#all-streams {
				
				&.fullscreen {
					width: 100%;
					height: 100%;
					background-color: @gray-darker;
					
					&.two {
						#mirror-container {
							position: static;
						}
					}

					#go-fullscreen {
						display: none;
					}
	
					#waiting-for-peers {
						height: 100%;
					}

					#peer-containers {
						.peer-container {
							peer {
								.peer-window {
									max-height: 100%;
								}
							}
						}
					}
				}

				#go-fullscreen {
					position: relative;
					box-shadow: 0px 0px .75em rgba(0,0,0,0.5);
					z-index: 10;

					button {
						margin: 1em;
						position: absolute;
						top: 0px;
						right: 0px;

						opacity: 0.3;

						&:hover {
							opacity: 1;
						}
					}
				}
	
				#mirror-container {
					position: absolute;
					width: 120px;
					margin: 1em;
					box-shadow: 0px 0px .75em rgba(0,0,0,0.5);
					z-index: 10;

					mirror {
						video {
							width: 100%;
							display: block;
						}
					}
				}

				#waiting-for-peers {
					.well;
					.well-sm;

					background-color: @gray;
					padding-top: 20%;
					height: 375px;
					margin-bottom: 0px;
					.text-center;

					h3,h5 {
						color: @gray-light;
					}
					h4 {
						font-family: @font-family-monospace;
						color: darken(@gray-lighter, 10%);
					}
				}

				#peer-containers {

					.peer-container {

						peer {
							.peer-window {
								width: 100%;
								display: block;
							}

							.peer-color {
								width: 1.5em;
								height: 1.5em;
								position: absolute;
								margin: 1em;
								bottom: 0px;
								border: 3px solid white;

								&.green {
									background-color: @brand-primary;
								}

								&.blue {
									background-color: #428bca;
								}

								&.purple {
									background-color: #9b59b6;
								}

								&.orange {
									background-color: #e67e22;
								}

								&.red {
									background-color: @brand-danger;
								}
							}
						}
					}
				}
			}
		}
	}
}