div(id="ad", align="center")
	script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	ins(class="adsbygoogle", style="display:inline-block;width:970px;height:90px", data-ad-client="ca-pub-6604919870949736", data-ad-slot="4713178837")
	script.
		(adsbygoogle = window.adsbygoogle || []).push({});