<div id="root-view">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i>&nbsp;Fatal Error ({{ error_id }})</h3>
		</div>
		<div class="panel-body">
			<p ng-bind-html="error_description"></p>
			<!-- [ intentionally linking to unsecure protocol, ysp will upgrade to secure automatically ] -->
			<p class="no-margin">
				<a href="http://yoursecondphone.co" class="btn btn-danger">Restart</a>
			</p>
		</div>
	</div>
</div>