<div id="root-view">
	<div class="row">
		<div class="col-md-12">
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-video-camera"></i>&nbsp;ID:&nbsp;{{ room_id }}</h3>
				</div>
				<div class="panel-body">
					
					<div class="alert alert-danger" ng-hide="navOnline"><i class="fa fa-warning"></i>&nbsp;you appear to be disconnected from the internet!</div>
					<div class="alert alert-warning" ng-show="disconnected">lost contact with peer server, attempting to reconnect...</div>

					<div id="all-streams" ng-class="{ fullscreen: isFullscreen, zero: ($scope.peers.length == 0), one: ($scope.peers.length == 1), two: ($scope.peers.length == 2) }">
						
						<div id="go-fullscreen">
							<button class="btn btn-sm btn-default" ng-click="goFullscreen()" title="Fullscreen!"><i class="fa fa-arrows-alt"></i></button>
						</div>

						<div id="mirror-container">
							<mirror></mirror>
						</div>
						
						<div id="waiting-for-peers" ng-show="!peers.length">
							
							<h3><i class="fa fa-coffee"></i>&nbsp;waiting for others to join...</h3>
							<h5>Invite people to join with this link:</h5>
							<h4>{{ room_link }}</h4>

						</div>

						<div id="peer-containers" ng-show="!!peers.length">

							<div class="row">
								
								<div class="peer-container" ng-class="getColumnSize()" ng-repeat="peer in peers">
									<peer info="peer"></peer>
								</div>

							</div>
							
						</div>

					</div>
					
					<div id="all-messages" ng-init="showMessages = true">
						<div id="all-messages-header">
							<div class="row">
								<div class="col-md-8">
									<h4 class="text-muted"><i class="fa fa-comments-o"></i>&nbsp;Messages</h4>
								</div>

								<div class="col-md-4" id="caret">
									<h4 class="text-muted"><i class="fa fa-fw clickable" ng-click="showMessages = !showMessages" ng-class="{ 'fa-caret-down': (showMessages), 'fa-caret-left': (!showMessages) }"></i></h4>
								</div>
							</div>
						</div> <!-- [/all-messages-header] -->

						<div id="messages-window" ng-show="showMessages" class="pin-to-bottom">
							<div class="peer-message-container" ng-repeat="msg in messages">
								<div class="peer-message">
									<div class="row">
										<div class="col-md-9">
											<div class="peer-message-body" ng-class="msg.color_code">
												{{ msg.content }}
											</div>
										</div>
										<div class="col-md-3">
											<div class="peer-message-timestamp">
												{{ msg.time_received | date: 'mediumTime' }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- [/messages-window] -->

						<div id="compose" ng-show="showMessages">
							<form ng-submit="sendMessage()">
								<div class="input-group">
									<input type="text" ng-model="draft" ng-disabled="!peers.length" placeholder="Send a message..." class="form-control">
									<span class="input-group-btn">
										<button class="btn btn-primary"><i class="fa fa-fw fa-send"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>