extends layout

block main
	#main_content(ng-app="ysp")
		div(ng-view)
			.row
				.large-6.columns
					.panel.animated#videochat
						header
							h4
								<i class="fa fa-video-camera"></i>&nbsp;Video Chat
						.panel_body
							p Your Second Phone allows you to chat face-to-face with anyone. Simply create a room, send your friend the link and chat for as long as you need, it's <b>free</b>!
				.large-6.columns
					.panel.animated#noaccount
						header
							h4
								<i class="fa fa-magic"></i>&nbsp;No Account
						.panel_body
							p You don't need to have an account to use Your Second Phone. This helps cut out all of the hurdles that keep you from talking to <i>who</i> you want, <i>when</i> you want.
			.row
				.large-12.large-centered.columns#main-setup
					button(disabled="disabled").large.expand#setting-up <i class="fa fa-refresh fa-spin"></i>&nbsp;Setting Up...
					.panel.error#no-js
						header
							h4 <i class="fa fa-exclamation-triangle"></i>&nbsp;JavaScript is required!
						.panel_body
							p JavaScript is required for this application to work. I promise I won't do anything nefarious; you can see for yourself! (<a href="http://git.io/gWSi9w">Look at my source code!</a>)

block js

	//- utilities
	script(src="/static/js/webrtc_adapter.min.js") 
	script(src="/static/js/lib/screenfull/screenfull.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/async/0.7.0/async.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
	script(src="/static/js/lib/eventemitter/4.2.7/eventemitter.min.js")
	script(src="/static/js/lib/chance/0.5.6/chance.min.js")
	script(src="/static/js/lib/peer/0.3.8/peer.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js")

	//- core angular
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-sanitize.min.js")

	//- 3rd party angular
	script(src="/static/js/lib/safeapply/safeapply.min.js")

	//- application angular
	//- script(src="/static/js/src/ysp-directives.js")
	//- script(src="/static/js/src/ysp-controllers.js")
	//- script(src="/static/js/src/ysp-services.js")
	//- script(src="/static/js/src/ysp-main.js")
	script(src="/static/js/build/ysp.js")
