extends layout

block css
	link(rel="stylesheet", href="/static/bower_components/nprogress/nprogress.css")

block main
	.row(ng-app="ysp")
		.large-12.columns#main_content(ng-view)
			.row
				.large-6.columns
					.panel.animated#videochat
						header
							h4
								<i class="fa fa-video-camera"></i>&nbsp;Video Chat
						.panel_body
							p Your Second Phone allows you to chat face-to-face with anyone. Simply create a session, send your friend the link and chat for as long as you need, it's <b>free!</b>
				.large-6.columns
					.panel.animated#noaccount
						header
							h4
								<i class="fa fa-magic"></i>&nbsp;No Account
						.panel_body
							p You don't need to have an account to use Your Second Phone. Once a session is created, the link to it will last for 24 hours, but the call can last much longer.
			.row
				.large-12.large-centered.columns
					.panel.error
						header
							h4 <i class="fa fa-exclamation-triangle"></i>&nbsp;JavaScript is required!
						.panel_body
							p JavaScript is required for this application to work. I promise I won't do anything nefarious; you can see for yourself! (<a href="http://git.io/gWSi9w">Look at my source code!</a>)

block js

	//- utilities
	script(src="/static/js/webrtc_adapter.js") 
	script(src="/static/js/lib/screenfull/screenfull.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/async/0.7.0/async.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
	script(src="/static/js/lib/eventemitter/4.2.7/eventemitter.min.js")
	script(src="/static/js/lib/chance/0.5.6/chance.min.js")
	script(src="/static/js/lib/peer/0.3.8/peer.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js")

	//- core angular
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular-route.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular-sanitize.min.js")

	//- 3rd party angular
	script(src="/static/js/lib/ngstorage/0.3.0/ngstorage.min.js")
	script(src="/static/js/lib/ngsocket/0.5.0/socket.min.js")
	script(src="/static/js/lib/safeapply/safeapply.min.js")

	//- application angular
	script(src="/static/js/src/ysp-directives.js")
	script(src="/static/js/src/ysp-controllers.js")
	script(src="/static/js/src/ysp-services.js")
	script(src="/static/js/src/ysp-main.js")
