doctype html
html(lang="en", class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title="Your Second Phone"
		meta(name="description", content="Your Second Phone is a secure and privacy-conscious video chat application. Have a video chat for free and with no account!")
		meta(name="keywords", content="video chat call chat message messaging talk conversation facetime skype google hangouts facebook private secure free no account encrypted open-source open source telephone phone dial cellphone iphone")
		meta(name="viewport", content="width=device-width")
		link(rel="canonical", href="/about")

		meta(property="og:site_name", content="Your Second Phone")
		meta(property="og:description", content="Your Second Phone is a turnkey video chat application. Create a video chat session for free and with no account!")
		meta(property="og:type", content="website")
		meta(property="og:image:url", content="http://yoursecondphone.co/static/img/ogp.png")
		meta(property="og:image:secure_url", content="https://yoursecondphone.co/static/img/ogp.png")

		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Aldrich")
		block css
		link(rel="stylesheet", href="/static/css/main.css")
	body(id=page_id)
		.container
			.row
				.col-md-8.col-md-offset-2
					.container-fluid
						.row
							.col-md-12
								header#global-header: a(href="/"): h1 Your Second Phone
			.row
				.col-md-8.col-md-offset-2
					.container-fluid
						.row
							.col-md-12
								#page-content
									block main
			.row
				.col-md-8.col-md-offset-2
					.container-fluid
						.row
							.col-md-12
								footer#global-footer
									ul.list-inline#links
										li: a(href="/about") <i class="fa fa-info-circle"></i>&nbsp;About
										li: a(href="/privacy") <i class="fa fa-eye"></i>&nbsp;Privacy
										li: a(href="/source") <i class="fa fa-github-alt"></i>&nbsp;GitHub
										li: a(href="/issues", target="_blank") <i class="fa fa-bug"></i>&nbsp;Report a Bug
										li: a(href="/terms") <i class="fa fa-legal"></i>&nbsp;Terms of Service
										li: a(href="/donate") <i class="fa fa-beer"></i>&nbsp;Donate
									#copyright
										small &copy; 2014 yoursecondphone (Licensed Under Apache 2.0)
									#twitter
										a(href="https://twitter.com/yoursecondphone", class="twitter-follow-button", data-show-count="true", data-show-screen-name="false", data-dnt="true") Follow @yoursecondphone
										script.
											!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		//- Load jQuery
		script(src="/static/js/ga.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")

		block js
		if show_ad
			include includes/ad