extends layout

block main
	.row
		.large-12.columns
			.panel
				header: h3: <i class="fa fa-eye"></i>&nbsp;Your Second Phone Privacy Policy
				.panel_body
					h3 Policy on Data Collection
					p.
						In light of recent privacy encroachments made by various governments around the world, Your Second Phone is taking the "DuckDuckGo" approach to privacy. Which is: Your Second Phone simply does not collect any unique data on our users, so there is no data to be requested by prying entites.
					h3#info_collected What is Collected?
					p.
						<b>Session Data: </b>When you start a chat session, a unique identifier is attached to it and stored in a cookie, so that if you leave Your Second Phone, you can pick up the same session that you started. No other information is stored in this session data. This session will automatically expire from the applications cache 24 hours after it was created, and all traces of this session will be deleted.
					p.
						<b>Analytics: </b>When you visit Your Second Phone, the analytics system Your Second Phone uses will gather details about your visit. Things like pages visited, length of visit, what kind of browser you have. All of this information is gathered in a completely anonymous manner and absolutely none of this information can possibly be traced back to you. If you wish to opt-out of this analytics gathering, simply enable the "Do Not Track" setting in your browser, and Your Second Phone will not gather this information.
					h3#info_not_collected What is <i>not</i> Collected?
					p.
						<b>Chat: </b> Messages that you send in your sessions is never logged, stored, saved, inspected, etc., in order to assure this we implement our own chat server based on <i>Node.js</i> and <i>Socket.io</i>. For added security, all messages are passed over a secure 256-bit encrypted connection. The code that runs the chat-server is freely available for you to scrutinize (<a href="http://git.io/SUmZug" target="_blank">Chat Server Code</a>).
					p.
						<b>Content of Video Calls: </b>Your Second Phone does not monitor your video chats or record or store any portion of them. Video calls are actually networked so that the data flows directly in between the two endpoints and skipping any middle man. Video chats are fully Peer-to-Peer.
					p.
						<b>Personal Information: </b>As Your Second Phone does not ask for any information, no personal information is ever collected or extracted from you (the user). Your Second Phone has always been like this, and will forever remain as such.
					h3#collection How the information is Collected
					p.
						<b>Analytics: </b> Analytical information is gathered with the help of Google Analytics. Information that is collected by Google Analytics is completely anonymous, and is impossible to trace back to you (the user). Your Second Phone respects the "Do Not Track" setting in most browsers. If that setting is on, Google Analytics will <i>not</i> be loaded, and will not track you at all if that is what you wish. But this information does help a great deal when developing and improving Your Second Phone.
					p.
						<b>Cookies: </b>Cookies are used to link your browser to a chat session you create. These cookies will expire 24 hours after you leave Your Second Phone.
					h3#use How We Use Information
					p.
						<b>Analytics: </b> Understanding our user's experience while using Your Second Phone is very crucial to helping us improve. Analytics information contains errors that were occured while using Your Second Phone. By seeing this, it makes hunting down bugs and fixing them so much easier, and ends up making a better experience for you.
					h3#disclosure Disclosure of Information
					p.
						<b>Never.</b> Analytics information is only used by the developer to improve Your Second Phone. Your Second Phone has no other interests or uses for the data that is collected other than using it to improve and maintain this application.
					h3 Personal Note
					p.
						I (Nick Comer) use a lot of services on the internet and I know what it means to be careful with data. I am treating the information that flows through Your Second Phone the same way I would want my information to be treated; which is with complete discretion.
					small: i.
						Last Edited: October 29, 2013 08:51:02 EST