extends layout

block main
	.row
		.large-12.columns
			.panel.error
				header: h3: <i class="fa fa-frown-o"></i>&nbsp;Server Error
				.panel_body
					p Hmm... Something unexpected has happened. I should probably check if something is on fire or something.